<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link class="icon" rel="icon" type="../logo_c.png" href="../emoticons.png">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../scripts/listaActividades.js"></script>
    <link rel="stylesheet" href="../style/paginate.css">
    {0}
    <title>{1}</title>
</head>
<body>
<!--Navigation bar-->
<a id="nav-placeholder">
    <script>$(function () {{
            $("#nav-placeholder").load("../html/nav.html");
        }});
    </script>
</a>
<!--Contenido página-->
{2}

</body>
</html>